body {
    background-color: white;
    font-family: segoe ui light;
}

h1 {
    text-align: center;
    color: OrangeRed;
    margin-left: 20px;
}

h2 {
    text-align: left;
    margin-left: 20px;
}

p {
    text-align: left;
}

.example {
    position: relative;
    left: 40px;
    width: 650px;
}

.feedback {
    position: relative;
    top: -370px;
    left: 700px;
    width: 650px;
}

.text {
    margin-left: 20px;
}
