{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_peerforum/social_discussion_list

    Template which defines a peerforum post for sending in a single-post HTML email.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Example context (json):
    {
    }
}}
{{< mod_peerforum/discussion_list }}
    {{$discussion_create_text}}
        {{#str}}addanewdiscussion, peerforum{{/str}}
    {{/discussion_create_text}}
    {{$discussion_list_output}}
        {{#posts}}
            {{< mod_peerforum/peerforum_discussion_post }}
                {{$footer}}
                    <div class="link text-right">
                        <a href="{{urls.discuss}}"
                           aria-label="{{#str}} discusstopicname, peerforum, {{subject}} {{/str}}">
                            {{#str}}discussthistopic, peerforum{{/str}}
                        </a>&nbsp;({{#isreplyplural}}{{#str}}
                        repliesmany, peerforum, {{discussionrepliescount}} {{/str}}{{/isreplyplural}}{{^isreplyplural}}{{#str}}
                        repliesone, peerforum, {{discussionrepliescount}} {{/str}}{{/isreplyplural}}{{#discussionunreadscount}}
                        <span class="sep">/</span>
                        <span class="unread"><a href="{{urls.discuss}}#unread">{{#isunreadplural}}{{#str}}
                            unreadpostsnumber, mod_peerforum, {{discussionunreadscount}} {{/str}}{{/isunreadplural}}{{^isunreadplural}}{{#str}}
                            unreadpostsone, mod_peerforum {{/str}}{{/isunreadplural}}</a></span>{{/discussionunreadscount}})
                    </div>
                {{/footer}}
                {{$replyoutput}}{{/replyoutput}}
            {{/ mod_peerforum/peerforum_discussion_post }}
        {{/posts}}
    {{/discussion_list_output}}
{{/ mod_peerforum/discussion_list }}
